* {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 0;
  background: #181824 url("../images/bg-desktop-dark.jpg") no-repeat center
    center/cover;
}
h1 {
  text-align: center;
  color: #fff;
}
#inputField {
  color: #fff;
  padding: 20px;
  width: 700px;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  background: #24273d;
}
input {
  outline: none;
}
#addToDo {
  border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #24273d;
  color: #fff;
  border: 1px solid #24273d;
  margin-left: 5px;
}
.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}

.to-dos {
  background: #24273d;
  position: relative;
  padding: 30px;
  color: #fff;
  border-radius: 20px;
  width: 94%;
}

/*=========== CHANGE THEME ==========*/

body.dark {
  background: #fff url("../images/bg-desktop-light.jpg") no-repeat center
    center/cover;
}
.change-theme i {
  cursor: pointer;
  position: relative;
  margin: 10px;
  top: 60px;
  color: #fff;
}

@media (max-width: 600px) {
  body {
    background: #181824 url("../images/bg-mobile-dark.jpg") no-repeat center
      center/cover;
  }
  body[theme="dark"] {
    background: #fff url("../images/bg-mobile-light.jpg") no-repeat center
      center/cover;
  }

  .to-dos {
    width: 83%;
  }
  #inputField {
    width: auto;
  }
  .change-theme i {
    position: relative;
    top: 30px;
    left: 70px;
    margin: 10px;
  }
}
